<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Resultados Ejercicio 4.4</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .chart {
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Webs que cumplen todas las políticas de seguridad ordenadas por años</h1>

    <div class="chart">
        <img src="data:image/png;base64,{{ data_uri }}" alt="Gráfico de webs que cumplen todas las políticas de seguridad">
        <div class="btn-container text-center">
                <a href="/ejercicio4" class="btn btn-primary">Volver a pagina de ejercicio 4</a>
                <a href="/" class="btn btn-primary">Volver a pagina principal</a>
        </div>
    </div>
</body>
</html>
